<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flask Demo</title>
        <link href="{{ url_for('static', filename='css/page.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/smile.jpg') }}" />
        <h1>Smile</h1>
    </body>
</html>
